<md-content flex layout="row">
  <div layout-fill map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{mapCtrl.googleMapsUrl}}">
    <ng-map  zoom="9" style="height:100%" center="[{{mapCtrl.lat}}, {{mapCtrl.lng}}]">
      <marker id="{{p.$id}}" ng-repeat="p in main.FBF.lists.properties" animation="{{p.gps.active?'BOUNCE':''}}" on-click="mapCtrl.showDetail(p)" position="{{p.gps.lat}},{{p.gps.lng}}"></marker>
       <info-window id="foo-iw">
        <div ng-non-bindable="">
          Ubicacion: {{mapCtrl.propertySelected[main.lang].location}}<br/>
          Referencia mas cercana: {{mapCtrl.propertySelected[main.lang].closerReference}}<br/>
          Tamaño: {{mapCtrl.propertySelected[main.lang].meters}} m2<br/>
          <a ui-sref="home.properties.detail({ property: mapCtrl.propertySelected,propertyId:mapCtrl.propertySelected.$id})">Mas detalles</a>
        </div>
      </info-window>
    </ng-map>
  </div>
</md-content>
