<md-content layout="column" flex layout-fill>
  <div map-lazy-load="https://maps.google.com/maps/api/js" layout-fill map-lazy-load-params="{{mapCtrl.googleMapsUrl}}">
    <ng-map center="current-location" zoom="9" style="height:100%">
      <marker id="{{p.$id}}" ng-repeat="p in main.FBF.lists.properties"  on-click="mapCtrl.showDetail(p)" position="{{p.gps.lat}},{{p.gps.lng}}"></marker>
       <info-window id="foo-iw">
        <div ng-non-bindable="">
          Ubicacion: {{mapCtrl.propertySelected[main.lang].location}}<br/>
          Referencia mas cercana: {{mapCtrl.propertySelected[main.lang].closerReference}}<br/>
          Tamaño: {{mapCtrl.propertySelected[main.lang].meters}} m2<br/>
        </div>
      </info-window>
    </ng-map>
  </div>
</md-content>
