<div layout-padding>
  <form ng-submit="sendMail(contact)">
    <h3>Contactanos</h3>
    <div layout="column">
      <div flex ng-if="subject">
        <p>
          <strong>Quiero mas informacion acerca de: </strong>{{subject}}
        </p>
      </div>
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" required ng-model="contact.name">
      </md-input-container>
      <md-input-container flex>
        <label>Correo</label>
        <input type="email" required ng-model="contact.email">
      </md-input-container>
      <md-input-container flex>
        <label>Telefono</label>
        <input type="phone" ng-model="contact.phone">
      </md-input-container>
      <md-input-container flex ng-if="!subject">
        <label>Asunto</label>
        <input type="text" required ng-model="contact.subject">
      </md-input-container>
      <md-input-container flex>
        <label>Mensaje</label>
        <textarea ng-model="contact.message" rows="5"></textarea>
      </md-input-container>

      <div flex layout="row" layout-align="end center">
        <span flex></span>
        <md-button flex="nogrow" type="submit" class="md-raised md-primary">Enviar Mensaje</md-button>
      </div>
    </div>
  </form>
</div>
