.version.contactanos /* version checker */
{
	color: #000018;
	background-color: #4C22B6;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/br_bk_med_02.jpg") repeat center top;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -99px;
	width: 0.01px;
}

#u102
{
	z-index: 2;
	width: 960px;
}

#menuu238
{
	z-index: 6;
	width: 960px;
	margin-top: 2px;
}

#u239
{
	width: 158px;
	min-height: 25px;
	margin-right: -10000px;
}

#u240
{
	width: 158px;
	padding-bottom: 11px;
}

#u240:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u242-4
{
	width: 158px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u240:hover #u242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u281
{
	width: 158px;
	min-height: 25px;
	margin-right: -10000px;
	left: 160px;
}

#u282
{
	width: 158px;
	padding-bottom: 11px;
}

#u240.MuseMenuActive,#u282:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u285-4
{
	width: 158px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u240.MuseMenuActive #u242-4,#u282:hover #u285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u288
{
	width: 158px;
	min-height: 25px;
	margin-right: -10000px;
	left: 320px;
}

#u289
{
	width: 158px;
	padding-bottom: 11px;
}

#u282.MuseMenuActive,#u289:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 158px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u282.MuseMenuActive #u285-4,#u289:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u295
{
	width: 158px;
	min-height: 25px;
	margin-right: -10000px;
	left: 480px;
}

#u298
{
	width: 158px;
	padding-bottom: 11px;
}

#u289.MuseMenuActive,#u298:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u298.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u301-4
{
	width: 158px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u289.MuseMenuActive #u292-4,#u298:hover #u301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u298.MuseMenuActive #u301-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 158px;
	margin: 0px -10000px 0px 0px;
}

#u302
{
	width: 159px;
	min-height: 25px;
	margin-right: -10000px;
	left: 640px;
}

#u303
{
	width: 159px;
	padding-bottom: 11px;
}

#u303:hover
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u305-4
{
	width: 159px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u303:hover #u305-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#u309
{
	width: 159px;
	min-height: 25px;
	margin-right: -10000px;
	left: 801px;
}

#u310
{
	width: 159px;
	padding-bottom: 11px;
}

#u303.MuseMenuActive,#u310:hover
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u310.MuseMenuActive
{
	width: 159px;
	min-height: 0px;
	margin: 0px;
}

#u312-4
{
	width: 159px;
	min-height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u303.MuseMenuActive #u305-4,#u310:hover #u312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#u310.MuseMenuActive #u312-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 159px;
	margin: 0px -10000px 0px 0px;
}

#ppu388-4
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: 59px;
}

#pu388-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 374px;
}

#u388-4
{
	z-index: 43;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	color: #5B2D1F;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	position: relative;
}

#u416
{
	z-index: 49;
	width: 470px;
	height: 2px;
	background-color: #5B2D1F;
	opacity: 0.33;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
	filter: alpha(opacity=33);
	margin-top: 11px;
	position: relative;
}

#u393
{
	z-index: 47;
	width: 303px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu399
{
	z-index: 50;
	width: 0.01px;
	height: 223px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 289px;
}

#widgetu404
{
	z-index: 51;
	width: 556px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu404.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 556px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u407-4
{
	z-index: 52;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B2D1F;
	text-align: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#widgetu404.fld-err-st #u407-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 4px -10000px 0px 0px;
}

#u406-4
{
	z-index: 56;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	font-size: 11px;
	line-height: 11px;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#widgetu404.non-empty-st #u406-4
{
	background-color: #FFFFFF;
}

#widgetu404:hover #u406-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu404.focus-st #u406-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu404.non-empty-st #u406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu404:hover #u406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu404.focus-st #u406-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu404_input,#widgetu404_prompt
{
	width: 328px;
	min-height: 14px;
	color: #7F7F7F;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	padding: 6px;
}

#widgetu400
{
	z-index: 60;
	width: 556px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
}

#widgetu400.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 556px;
	height: 28px;
	min-height: 0px;
	margin: 46px -10000px 0px 0px;
}

#u401-4
{
	z-index: 61;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B2D1F;
	text-align: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#widgetu400.fld-err-st #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 1px -10000px 0px 0px;
}

#u402-4
{
	z-index: 65;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	font-size: 11px;
	line-height: 11px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#widgetu400.non-empty-st #u402-4
{
	background-color: #FFFFFF;
}

#widgetu400:hover #u402-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu400.focus-st #u402-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu404.fld-err-st #u406-4,#widgetu400.fld-err-st #u402-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu400.non-empty-st #u402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu400:hover #u402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu400.focus-st #u402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu400_input,#widgetu400_prompt
{
	width: 328px;
	min-height: 14px;
	color: #7F7F7F;
	font-size: 11px;
	font-style: italic;
	padding: 6px;
}

#u411-4
{
	z-index: 69;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 219px;
}

#widgetu399.frm-sub-st #u411-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u410-4
{
	z-index: 73;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 219px;
}

#widgetu399.frm-subm-err-st #u410-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u408-4
{
	z-index: 77;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 219px;
}

#widgetu399.frm-sub-st #u411-4,#widgetu399.frm-subm-err-st #u410-4,#widgetu399.frm-subm-ok-st #u408-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu399.frm-subm-ok-st #u408-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u409-17
{
	z-index: 81;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 425px;
	background: url("../images/u409-17.png") no-repeat 0px 0px;
}

#u409-17:hover
{
	background: url("../images/u409-17-r.png") no-repeat 0px 0px;
}

#u409-17:active
{
	background: url("../images/u409-17-m.png") no-repeat 0px 0px;
}

#widgetu399.frm-sub-st #u409-17
{
	background: url("../images/u409-17-fs.png") no-repeat 0px 0px;
}

#widgetu412
{
	z-index: 98;
	width: 556px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
}

#widgetu412.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 556px;
	height: 82px;
	min-height: 0px;
	margin: 92px -10000px 0px 0px;
}

#u415-4
{
	z-index: 99;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B2D1F;
	text-align: right;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#widgetu412.fld-err-st #u415-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 1px -10000px 0px 0px;
}

#widgetu404.fld-err-st #u407-4 p,#widgetu404.fld-err-st #u407-4 span,#widgetu400.fld-err-st #u401-4 p,#widgetu400.fld-err-st #u401-4 span,#widgetu412.fld-err-st #u415-4 p,#widgetu412.fld-err-st #u415-4 span
{
	color: #D7244C;
}

#u414-4
{
	z-index: 103;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #7F7F7F;
	font-size: 11px;
	line-height: 11px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#widgetu412.non-empty-st #u414-4
{
	background-color: #FFFFFF;
}

#widgetu412:hover #u414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu412.focus-st #u414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu412.fld-err-st #u414-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu412.non-empty-st #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu412:hover #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu412.focus-st #u414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu404.fld-err-st #u406-4 *,#widgetu400.fld-err-st #u402-4 *,#widgetu412.fld-err-st #u414-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu412_input,#widgetu412_prompt
{
	width: 328px;
	min-height: 68px;
	color: #7F7F7F;
	font-size: 11px;
	font-style: italic;
	padding: 6px;
}

#widgetu404.focus-st #widgetu404_prompt,#widgetu400.focus-st #widgetu400_prompt,#widgetu412.focus-st #widgetu412_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu404:hover #widgetu404_input,#widgetu404.focus-st #widgetu404_input,#widgetu404.fld-err-st #widgetu404_input,#widgetu404:hover #widgetu404_prompt,#widgetu404.fld-err-st #widgetu404_prompt,#widgetu400:hover #widgetu400_input,#widgetu400.focus-st #widgetu400_input,#widgetu400.fld-err-st #widgetu400_input,#widgetu400:hover #widgetu400_prompt,#widgetu400.fld-err-st #widgetu400_prompt,#widgetu412:hover #widgetu412_input,#widgetu412.focus-st #widgetu412_input,#widgetu412.fld-err-st #widgetu412_input,#widgetu412:hover #widgetu412_prompt,#widgetu412.fld-err-st #widgetu412_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu404.non-empty-st #widgetu404_prompt,#widgetu400.non-empty-st #widgetu400_prompt,#widgetu412.non-empty-st #widgetu412_prompt
{
	visibility: hidden;
}

#u114
{
	z-index: 4;
	width: 960px;
	margin-top: 56px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 1px;
	padding-bottom: 199px;
}

#page .verticalspacer
{
	clear: both;
}

