<md-content layout="row" flex layout-padding class="transparent">
  <div flex-gt-md="10"></div>
  <div flex="100" flex-gt-md="80" layout="column">
    <div flex="nogrow" layout="row" layout-align="start center">
      <h1 flex="nogrow">{{'pages.list.title'|translate}}</h1>
    </div>
    <div flex class="content-card">
      <md-card ng-repeat="property in main.FBF.lists.properties">
        <md-card-content layout="column" layout-gt-xs="row">
          <div flex flex-gt-xs="70" layout="column">
            <div flex layout="column" layout-align="end stretch">
              <div flex>
                <h3>{{property[main.lang].location}}</h3>
                <p>{{property[main.lang].closerReference}}</p>
                <h4>{{property.meters|number:2}} m2</h4>
              </div>
              <div flex="nogrow" layout="row">
                <md-button class="md-raised md-primary" ui-sref="home.properties.detail({ property: property,propertyId:property.$id})" flex
                  aria-label="Detalles">
                  <md-icon>assignment</md-icon>
                </md-button>
                <md-button class="md-raised md-primary" ui-sref="home.map({ id:property.$id})" flex aria-label="Mostrar en el Mapa">
                  <md-icon>location_on </md-icon>
                </md-button>
              </div>
            </div>
          </div>
          <div flex flex-gt-xs="30">
            <img style="object-fit: contain;width: 100%;max-height: 600px;margin:auto" ng-src="{{property.images|getImageOfProperty}}">
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div flex-gt-md="10"></div>
</md-content>
