<div layout="column" ng-cloak="ng-cloak" layout-fill>
  <md-toolbar flex="nogrow" class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button ng-click="main.toggleLeft()">
        <md-icon>view_headline </md-icon>
      </md-button>
      <h2 flex="nogrow">
        <span>Panel de Administracion</span>
      </h2>
      <span flex></span>
      <div flex="nogrow">
        <div flex="nogrow" class="langSection">
          <md-button ng-repeat="lang in main.F.langs" class="md-icon-button" aria-label="lang.displayName" ng-click="main.changeLanguage(lang.name)">
            <img style="object-fit: contain;width: 100%;max-height: 600px" ng-src="{{lang.img}}">
          </md-button>
        </div>
        <md-button ng-click="main.AuthF.$signOut()">
          <md-icon>exit_to_app </md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content>
      <md-list ng-cloak>
        <md-list-item ng-repeat="item in main.F.menu" ng-click="main.F.go(item.state)">
          <md-icon>{{item.icon?item.icon:'label'}}</md-icon>
          <p>{{item.name}}</p>
          <md-icon>keyboard_arrow_right </md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div flex ui-view="content" layout-fill></div>
</div>
