<div layout="column" ng-cloak="ng-cloak" layout-fill>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <!--<md-button ng-click="toggleRight()" ng-hide="isOpenRight()">
        <md-icon> view_headline </md-icon>
      </md-button>-->
      <h2 flex="nogrow">
        <span>Panel de Administracion</span>
      </h2>
      <span flex></span>
      <md-button flex="nogrow" ng-click="main.AuthF.$signOut()">
        <md-icon>exit_to_app </md-icon>
      </md-button>
      <span flex></span>
    </div>
  </md-toolbar>
  <div ui-view="content"></div>
</div>
