<div layout="column" ng-cloak="ng-cloak" layout-fill>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <!--<md-button ng-click="toggleRight()" ng-hide="isOpenRight()">
        <md-icon> view_headline </md-icon>
      </md-button>-->
      <h2>
        <span>Panel de Administracion</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-padding="layout-padding" ng-if="!main.showPropertyForm">
    <div flex layout="row" layout-align="start center">
      <h1 flex="nogrow">Lista de propiedades</h1>
      <md-button flex="nogrow" class="md-raised md-primary" ng-click="main.addProperty()">Añadir Propiedad</md-button>
    </div>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="property in main.properties" ng-click="null">
        <div class="md-list-item-text" layout="row" layout-align="start center">
          <div flex layout="column">
            <h3 style="margin:0px;">{{ property.location}} <small>{{ property.meters|currency }}</small></h3>
            <p>{{ property.closerReference}}</p>
          </div>
          <div flex="nogrow">
            <md-button flex="nogrow" class="md-raised md-primary" ng-click="main.editProperty(property)">Editar</md-button>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
  <md-content layout-padding="layout-padding" ng-if="main.showPropertyForm">
    <form name="propertyForm">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Ubicacion</label>
          <input type="text" ng-model="main.property.location">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex="30">
          <label>M2</label>
          <input type="number" ng-model="main.property.meters">
        </md-input-container>
        <md-input-container flex="70">
          <label>Referencia mas cercana</label>
          <input type="text" ng-model="main.property.closerReference">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Campo Libre</label>
          <input type="text" ng-model="main.property.otherpublic">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex style="margin-right: 10px;">
          <label>Tipo de documento</label>
          <md-select ng-model="main.property.docType">
            <md-option ng-repeat="docType in main.docTypes" ng-value="docType.$id">{{docType.name}}</md-option>
            <md-option ng-click="main.addingDocType=true">Agregar nuevo</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Precio Pactado</label>
          <input type="number" ng-model="main.property.price">
        </md-input-container>
        <md-input-container flex>
          <label>Precio Venta</label>
          <input type="number" ng-model="main.property.salePrice">
        </md-input-container>
      </div>
      <div layout layout-sm="column" ng-if="main.addingDocType">
        <md-input-container flex style="margin-right: 10px;">
          <label>Nombre</label>
          <input type="name" ng-model="main.newDocType.name">
          <md-button class="md-raised md-primary" ng-disabled="main.loading" ng-click="main.addElement('docType')">Agregar nuevo tipo de documento</md-button>
          <md-button class="md-raised md-primary" ng-disabled="main.loading" ng-click="main.addingDocType=false">Cancelar</md-button>
        </md-input-container>
      </div>
      <div layout layout-sm="column" layout-align="start center">
        <div flex="nogrow">
          <label>Propietario</label>
        </div>
        <md-button class="md-raised md-primary" ng-click="main.addRow('owners')">Agregar</md-button>
      </div>
      <div layout="column">
        <div flex layout ng-repeat="($index,owner) in main.property.owners">
          <md-input-container flex style="margin-right: 10px;">
            <label>Nombre</label>
            <input type="name" ng-model="owner.name">
          </md-input-container>
          <md-input-container flex style="margin-right: 10px;">
            <label>Telefono</label>
            <input type="text" ng-model="owner.phone">
          </md-input-container>
          <md-input-container flex style="margin-right: 10px;">
            <label>Correo</label>
            <input type="email" ng-model="owner.email">
          </md-input-container>
          <md-button flex="nogrow" class="md-raised md-primary" ng-click="main.deleteRow('owners',$index)">Eliminar</md-button>
        </div>
      </div>
      <div layout layout-sm="column" layout-align="start center">
        <div flex="nogrow">
          <label>Intermediarios</label>
        </div>
        <md-button class="md-raised md-primary" ng-click="main.addRow('intermediaries')">Agregar</md-button>
      </div>
      <div layout="column">
        <div flex layout ng-repeat="($index,intermediary) in main.property.intermediaries">
          <md-input-container flex style="margin-right: 10px;">
            <label>Nombre</label>
            <input type="name" ng-model="intermediary.name">
          </md-input-container>
          <md-input-container flex style="margin-right: 10px;">
            <label>Telefono</label>
            <input type="text" ng-model="intermediary.phone">
          </md-input-container>
          <md-button flex="nogrow" class="md-raised md-primary" ng-click="main.deleteRow('intermediaries',$index)">Eliminar</md-button>
        </div>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex="30" style="margin-right: 10px;">
          <label>Tipo de venta</label>
          <md-select ng-model="main.property.saleType">
            <md-option ng-repeat="saleType in main.saleTypes" ng-value="saleType.$id">{{saleType.name}}</md-option>
            <md-option ng-click="main.addingSaleType=true">Agregar nuevo</md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Campo Libre</label>
          <input type="text" ng-model="main.property.otherprivate">
        </md-input-container>
      </div>
      <div layout layout-sm="column" ng-if="main.addingSaleType">
        <md-input-container flex style="margin-right: 10px;">
          <label>Nombre</label>
          <input type="name" ng-model="main.newSaleType.name">
          <md-button class="md-raised md-primary" ng-click="main.addElement('saleType')" ng-disabled="main.loading">Agregar nuevo tipo de venta</md-button>
          <md-button class="md-raised md-primary" ng-click="main.addingSaleType=false" ng-disabled="main.loading">Cancelar</md-button>
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <label flex></label>
        <md-button flex="nogrow" ng-click="main.saveProperty(main.property)" class="md-raised md-primary">Añadir Propiedad</md-button>
        <md-button flex="nogrow" ng-click="main.showPropertyForm=false" class="md-raised md-primary">Cancelar</md-button>
      </div>
    </form>
  </md-content>
</div>
