<md-content layout="column" layout-padding="layout-padding">
  <div flex layout="row" layout-align="start center">
    <h1 flex="nogrow">Lista de propiedades</h1>
    <md-button flex="nogrow" class="md-raised md-primary" ng-click="propertiesCtrl.go()">Añadir Propiedad</md-button>
  </div>
  <md-list flex>
    <md-list-item class="md-3-line" ng-repeat="property in main.FBF.properties" ng-click="null">
      <div class="md-list-item-text" layout="row" layout-align="start center">
        <div flex layout="column">
          <h3 style="margin:0px;">{{ property.location}} <small>{{ property.meters|currency }}</small></h3>
          <p>{{ property.closerReference}}</p>
        </div>
        <div flex="nogrow">
          <md-button flex="nogrow" class="md-raised md-primary" ng-click="propertiesCtrl.go(property)">Editar</md-button>
        </div>
      </div>
    </md-list-item>
  </md-list>
</md-content>
