<md-content layout-padding="layout-padding">
  <div flex layout="row" layout-align="start center">
    <div flex="nogrow">
      <md-button class="md-icon-button" aria-label="Go Back" ng-click="propertyCtrl.goBack()">
        <md-icon>keyboard_backspace </md-icon>
      </md-button>
    </div>
    <h1 flex="nogrow">Detalles de Propiedad</h1>
  </div>
  <div flex layout="row" layout-align="start center">
    <h2>Informacion Publica</h2>
  </div>
  <form name="propertyForm">
    <div layout="column" layout-gt-xs="row">
      <md-input-container flex>
        <label>Ubicacion</label>
        <input type="text" required ng-model="propertyCtrl.property[main.lang].location">
      </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row">
      <md-input-container flex="30">
        <label>M2: <strong>{{propertyCtrl.property[main.lang].meters|number:"2"}}</strong></label>
        <input required type="number" ng-model="propertyCtrl.property[main.lang].meters">
      </md-input-container>
      <md-input-container flex="70">
        <label>Referencia mas cercana</label>
        <input type="text" ng-model="propertyCtrl.property[main.lang].closerReference">
      </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row">
      <md-input-container flex>
        <label>Campo Libre</label>
        <input type="text" ng-model="propertyCtrl.property[main.lang].other">
      </md-input-container>
    </div>
    <div layout="column" layout-align="start start">
      <div flex layout="row" layout-align="start center">
        <h3 flex="nogrow">Imagenes</h3>
        <div flex="nogrow">
          <md-button class="md-raised md-primary" ngf-select ng-model="propertyCtrl.files" name="files" ngf-multiple="true" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Agregar Imagenes</md-button>
        </div>
      </div>
    </div>
    <div flex>
      <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-lg="4" md-cols-gt-lg="5" md-row-height="4:3" md-gutter="1em">
        <md-grid-tile md-colspan="1" ng-repeat="($index,file) in propertyCtrl.files">
          <img class="layout-fill" ng-show="propertyForm.files.$valid" ngf-thumbnail="file">
          <md-grid-tile-footer layout="row" layout-align="end center">
            <div flex>
              <div layout="row" layout-align="end center">
                <div flex="nogrow">
                  <md-button ng-click="propertyCtrl.deleteImage($index,propertyCtrl.files)" class="md-fab md-mini md-warn md-raised md-hue-2">
                    <md-icon>delete_forever</md-icon>
                  </md-button>
                </div>
              </div>
            </div>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" ng-repeat="($index,image) in propertyCtrl.property.images">
          <img class="layout-fill" ng-src="{{image.url}}" alt="Imagen">
          <md-grid-tile-footer layout="row" layout-align="end center">
            <div flex="nogrow">
              <md-button ng-click="propertyCtrl.deletePropertyImage(image,propertyCtrl.property.$id)" class="md-fab md-mini md-warn md-raised md-hue-2">
                <md-icon>delete_forever</md-icon>
              </md-button>
            </div>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div layout="column" layout-align="start start">
      <div flex layout="row" layout-align="start center">
        <h3 flex="nogrow">Mapa</h3>
      </div>
    </div>
    <div layout="column" layout-gt-xs="row">
      <div flex>
        <div style="position:relative" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{propertyCtrl.googleMapsUrl}}"
          height="600px">
          <ng-map zoom="9" on-click="propertyCtrl.addMarker()" default-style="true">
            <marker position="{{propertyCtrl.property.gps.lat}},{{propertyCtrl.property.gps.lng}}"></marker>
            <custom-control id="edit-location" position="BOTTOM_CENTER" index="1" on-click="propertyCtrl.editLocation()">
              <div style=" background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;;cursor: pointer">{{propertyCtrl.editGps?'Guardar':'Editar Ubicacion'}}</div>
            </custom-control>
            <custom-control ng-if="propertyCtrl.mylocation" id="go-home" position="BOTTOM_CENTER" index="1" on-click="propertyCtrl.centerLocation()">
              <div style=" background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;cursor: pointer">Ir a mi ubicacion</div>
            </custom-control>
          </ng-map>

        </div>
      </div>
    </div>
    <div flex layout="row" layout-align="start center">
      <h2>Informacion Privada</h2>
    </div>
    <div layout="column" layout-gt-xs="row">
      <md-input-container flex>
        <label>Tipo de documento</label>
        <md-select required ng-model="propertyCtrl.propertyPrivate.docType" ng-change="propertyCtrl.verifyAddOption(propertyCtrl.propertyPrivate.docType,this)">
          <md-option ng-repeat="docType in main.FBF.lists.docTypes" ng-value="docType.$id">{{docType[main.lang].name}}</md-option>
          <md-option ng-value="{action:'add',object:'docType',reference:'docTypes',node:'propertyPrivate'}">Agregar nuevo</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Precio Pactado: <strong>{{propertyCtrl.propertyPrivate.price|currency}}</strong></label>
        <input required type="number" ng-model="propertyCtrl.propertyPrivate.price">

      </md-input-container>
      <md-input-container flex>
        <label>Precio Venta <strong>{{propertyCtrl.propertyPrivate.salePrice|currency}}</strong></label>
        <input required type="number" ng-model="propertyCtrl.propertyPrivate.salePrice">
      </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
      <div flex="nogrow">
        <h3>Propietario</h3>
      </div>
      <div flex="nogrow">
        <md-button class="md-raised md-primary" ng-click="propertyCtrl.addRow('owners','propertyPrivate')">Agregar Propietario</md-button>
      </div>
    </div>
    <div layout="column">
      <div flex layout="column" layout-gt-xs="row" layout ng-repeat="($index,owner) in propertyCtrl.propertyPrivate.owners">
        <md-input-container flex>
          <label>Nombre</label>
          <input required type="name" ng-model="owner.name">
        </md-input-container>
        <md-input-container flex>
          <label>Telefono</label>
          <input required type="text" ng-model="owner.phone">
        </md-input-container>
        <md-input-container flex>
          <label>Correo</label>
          <input type="email" ng-model="owner.email">
        </md-input-container>
        <div flex="nogrow">
          <md-button class="md-raised md-primary" ng-click="propertyCtrl.deleteRow('owners',$index,'propertyPrivate')">Eliminar</md-button>
        </div>
      </div>
    </div>
    <div layout layout-align="start center">
      <div flex="nogrow">
        <h3>Intermediarios</h3>
      </div>
      <div flex="nogrow">
        <md-button class="md-raised md-primary" ng-click="propertyCtrl.addRow('intermediaries','propertyPrivate')">Agregar Intermediario</md-button>
      </div>
    </div>
    <div layout="column">
      <div flex layout="column" layout-gt-xs="row" ng-repeat="($index,intermediary) in propertyCtrl.propertyPrivate.intermediaries">
        <md-input-container flex>
          <label>Nombre</label>
          <input required type="name" ng-model="intermediary.name">
        </md-input-container>
        <md-input-container flex>
          <label>Telefono</label>
          <input required type="text" ng-model="intermediary.phone">
        </md-input-container>
        <div flex="nogrow">
          <md-button class="md-raised md-primary" ng-click="propertyCtrl.deleteRow('intermediaries',$index,'propertyPrivate')"> Eliminar </md-button>
        </div>
      </div>
    </div>
    <div layout="column" layout-gt-xs="row">
      <md-input-container flex="30">
        <label>Tipo de venta</label>
        <md-select required ng-model="propertyCtrl.propertyPrivate.saleType" ng-change="propertyCtrl.verifyAddOption(propertyCtrl.propertyPrivate.saleType,this)">
          <md-option ng-repeat="saleType in main.FBF.lists.saleTypes" ng-value="saleType.$id">{{saleType[main.lang].name}}</md-option>
          <md-option ng-value="{action:'add',object:'saleType',reference:'saleTypes',node:'propertyPrivate'}">Agregar nuevo</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="70">
        <label>Campo Libre</label>
        <input type="text" ng-model="propertyCtrl.propertyPrivate.other">
      </md-input-container>
    </div>
    <!--<div layout layout-sm="column" ng-if="propertyCtrl.addingSaleType">
      <md-input-container flex>
        <label>Nuevo Tipo de venta</label>
        <input type="name" ng-model="propertyCtrl.newSaleType.name">
        <md-button class="md-raised md-primary" ng-click="propertyCtrl.addElement('saleType')" ng-disabled="main.F.loading">Agregar nuevo tipo de venta</md-button>
        <md-button class="md-raised md-primary" ng-click="propertyCtrl.addingSaleType=false" ng-disabled="main.F.loading">Cancelar</md-button>
      </md-input-container>
    </div>-->
    <div layout="row" layout-sm="column">
      <label flex></label>
      <div flex="nogrow">
        <md-button ng-disabled="!propertyForm.$valid || main.F.loading" ng-click="propertyCtrl.saveProperty(propertyCtrl.property,propertyCtrl.propertyPrivate,propertyCtrl.files)"
          class="md-raised md-primary">{{propertyCtrl.saveText}}</md-button>
      </div>
      <div flex="nogrow">
        <md-button ng-click="propertyCtrl.goBack()" class="md-raised md-primary">Cancelar</md-button>
      </div>
    </div>
  </form>
</md-content>
