<md-content layout="row" class="transparent" flex layout-padding layout-margin>
  <div flex-gt-md="10"></div>
  <div flex="100" flex-gt-md="80" layout="row">
    <div flex>
      <h2>MISION </h2>
      <p>Somos personas nativas con m&aacute;s de 30 años en Puerto Morelos con la misi&oacute;n de proporcionar un servicio
        inmobiliario de calidad que satisfaga las necesidades de venta, compra o arrendamiento de propiedades</p>
      <hr>
      <h2>VISION</h2>
      <p>Posesionarnos como una empresa confiable en el mercado de bienes raíces a través de la responsabilidad, seriedad, compromiso
        y cuidando el patrimonio de nuestros clientes.</p>
      <hr>
      <h2>VALORES</h2>
      <ul>
        <li>
          <strong>CONFIANZA:</strong> Ofrecemos y creemos en la buena fe y en el actuar.
        </li>
        <li>
          <strong>HONESTIDAD:</strong> Hablar siempre con la verdad a nuestros clientes.
        </li>
        <li>
          <strong>TRANSPARENCIA:</strong> Trabajamos sobre bases que generan información firme y libre.
        </li>
        <li>
          <strong>RESPETO:</strong> Cuidamos el valor de interrelación con los clientes y su patrimonio.
        </li>
        <li>
          <strong>PROFESIONALISMO:</strong> Somos gente comprometida con la actividad que desempeñamos.
        </li>
        <li>
          <strong>RESPONSABILIDAD:</strong> Trabajamos con el objetivo de ofrecer resultados óptimos.
        </li>
      </ul>
    </div>
  </div>
  <div flex-gt-md="10"></div>
</md-content>
