<md-content layout="row" class="transparent" flex layout-padding layout-margin>
  <div flex>
    <h2>MISION </h2>
    <p>Somos una empresa nativa de Puerto Morelos con más de 30 años en el puerto con la misión de Proporcionar un servicio
      inmobiliario de calidad para satisfacer las necesidades de venta, compra o arrendamiento de propiedades a través de
      la tecnología.</p>
    <hr>
    <h2>VISION</h2>
    <p>Posesionarnos como una empresa confiable en el mercado de bienes raíces a través de la responsabilidad, seriedad, compromiso
      y cuidando el patrimonio de nuestros clientes.</p>
    <hr>
    <h2>VALORES</h2>
    <ul>
      <li><strong>CONFIANZA:</strong> Ofrecemos y creemos en la buena fe y en el actuar.
      </li>
      <li><strong>HONESTIDAD:</strong> Hablar siempre con la verdad con nuestros clientes.
      </li>
      <li><strong>TRANSPARENCIA:</strong> Trabajamos sobre bases que generan información firme y libre.
      </li>
      <li><strong>RESPETO:</strong> Cuidamos el valor de interrelación con los clientes y su patrimonio.
      </li>
      <li><strong>PROFESIONALISMO:</strong> Somos gente comprometida con la actividad que desempeñamos.
      </li>
      <li><strong>RESPONSABILIDAD:</strong> Trabajamos con el objetivo de ofrecer resultados óptimos.
      </li>
    </ul>

  </div>

</md-content>
