<div layout="column" ng-cloak="ng-cloak" layout-fill>
  <!--<div flex="nogrow" layout-wrap class="md-primary-700">
    <div ncy-breadcrumb></div>
  </div>-->
  <md-toolbar flex="nogrow" class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 flex="nogrow">
        <span>Propiedades Puerto Morelos</span>
      </h2>
      <span flex></span>
      <section flex layout="row" layout-align="left center">
        <md-button ui-sref="home.map">Mapa</md-button>
        <md-button ui-sref="home.properties">Listado</md-button>
        <md-button ui-sref="home.about">Nosotros</md-button>
        <md-button ui-sref="home.contact">Contactanos</md-button>
      </section>
    </div>
  </md-toolbar>
  <!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content>
      <md-list ng-cloak>
        <md-list-item ng-repeat="item in main.F.menu" ng-click="main.F.go(item.state)">
          <md-icon>{{item.icon?item.icon:'label'}}</md-icon>
          <p>{{item.name}}</p>
          <md-icon>keyboard_arrow_right </md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>-->
  <div flex ui-view="content" layout-fill></div>
</div>
