<div ng-cloak="ng-cloak" flex layout="column">
  <!--<div flex="nogrow" layout-wrap class="md-primary-700">
    <div ncy-breadcrumb></div>
  </div>-->
  <md-toolbar class="md-hue-2 image-background" layout="column">
    <div flex hide-gt-xs layout="row" layout-align="start center">
      <div flex="nogrow" class="langSection" layout="row">
        <md-button style="width:50px" flex ng-repeat="lang in main.F.langs" class="md-icon-button" aria-label="lang.displayName" ng-click="main.changeLanguage(lang.name)">
          <img style="object-fit: contain;width: 100%;max-height: 600px" ng-src="{{lang.img}}">
        </md-button>
      </div>
      <span flex></span>
      <md-button flex="nogrow" ng-click="main.toggleLeft()">
        <md-icon>view_headline </md-icon>
      </md-button>
    </div>

    <div flex class="no-padding" hide-xs layout="column">
      <div flex="nogrow">
        <img src="assets/images/br_top.png" style="min-width: 100%!important;width:100%!important">
        <div style="position:absolute;right:100px;bottom:55px">
          <md-button style="width:50px" flex ng-repeat="lang in main.F.langs" class="md-icon-button" aria-label="lang.displayName" ng-click="main.changeLanguage(lang.name)">
            <img style="object-fit: contain;width: 100%;max-height: 600px" ng-src="{{lang.img}}">
          </md-button>
        </div>
      </div>
      <section class="menu-container" flex="nogrow" layout="row" layout-align="space-between start">
        <div flex class="menu-item-container" layout="row" ng-repeat="item in main.F.publicMenu">
          <a class="menu-item" ui-sref-active="active" ui-sref="{{item.state}}" flex>{{'menu.'+item.name | translate}}</a>
        </div>
      </section>
      <!-- <div flex="nogrow" class="langSection">
        <md-button ng-repeat="lang in main.F.langs" class="md-icon-button" aria-label="lang.displayName" ng-click="main.changeLanguage(lang.name)">
          <img style="object-fit: contain;width: 100%;max-height: 600px" ng-src="{{lang.img}}">
        </md-button>
      </div> -->

      <!-- <div flex="10">
        <img style="object-fit: contain;width: 100%;max-height: 600px;margin:10px" src="http://www.clipartbest.com/cliparts/7Ta/pzB/7TapzBzbc.png">
      </div> -->
      <!-- <h2>
          <span ng-bind-html="main.F.siteName"></span>
        </h2> -->
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
    <md-toolbar class="md-hue-2" layout="row">
      <div flex="15">
        <img style="object-fit: contain;width: 100%;max-height: 600px;margin:10px" src="http://www.clipartbest.com/cliparts/7Ta/pzB/7TapzBzbc.png">
      </div>
      <div flex>
        <span ng-bind-html="main.F.siteName"></span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list ng-cloak>
        <md-list-item ng-repeat="item in main.F.publicMenu" ui-sref="{{item.state}}" ng-click="main.toggleLeft()">
          <md-icon>{{item.icon?item.icon:'label'}}</md-icon>
          <p>{{'menu.'+item.name | translate}}</p>
          <md-icon>keyboard_arrow_right </md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content>
      <md-list ng-cloak>
        <md-list-item ng-repeat="item in main.F.menu" ng-click="main.F.go(item.state)">
          <md-icon>{{item.icon?item.icon:'label'}}</md-icon>
          <p>{{item.name}}</p>
          <md-icon>keyboard_arrow_right </md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>-->
  <div ui-view="content" class="image-background" flex layout="row"></div>
  <div flex="nogrow" class="footer">
  </div>
</div>
